h4 Keys Feed
span(ng-show='collection') Manage the model's field names
span(ng-show='!collection') Before add keys must to add a valid model name
.input-group(ng-show='collection')
    input.form-control(
      ng-keypress="($event.which === 13)?addKey():0",
      type='text', ng-model='name', required='')
    span.input-group-btn
      a.btn.btn-success.fa.fa-plus(ng-click='addKey()', ng-disabled='!collection')
.pre-scrollable(ng-show='collection')
    table.table
      thead
        tr
          th
          th Name
          th Tag Element
          th Actions
      tbody
        tr(ng-repeat='field in resource.schema')
          td
            input(type='checkbox', ng-model='field.active')
          td
            span(ng-bind='field.name')
          td
            select.form-control(ng-model='field.tag')
              option input
              option select
              option image
              option textarea
          td
            a.btn.btn-primary.fa.fa-filter(
              ng-show='field.exclude',
              ng-click='excludeToggle(field.name, field.exclude )')
            a.btn.btn-warning.fa.fa-user(
              ng-show='!field.exclude',
              ng-click='excludeToggle(field.name, field.exclude )')
            a.btn.btn-danger.fa.fa-trash(ng-click='removeKey(field.name)')
            a.btn.btn-success(ng-click='pinKey(field.name)')
              span.glyphicon.glyphicon-pushpin
            
